*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #FFE8D4
}

a{
    text-decoration: none;
}

.container{
    max-width: 66vw;
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;

}

.header_container{
    margin-bottom: 2.3rem;
}

.header_title{
    margin-bottom: auto;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
    line-height: 2rem;
}

.header_description{
max-width: 768px;
text-align: center;
color: rgb(118, 115, 115);
margin: auto;
}

.main_container{
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(1,1fr);

}

@media (min-width:935px) {
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1380px) {
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:1870px) {
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
}

.card_container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgb(181, 168, 168);
    border-radius: 6px;
}

.card_container:hover .CardImage{
    transform: scale(1.1);
    transition-duration: 200ms;

}

.card_img{
    position: relative;
    overflow: hidden;
    height: 9rem;
}

.CardImage{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;

}

.card_title_container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(88, 82, 82);
    line-height: 1.2rem;
    margin-bottom: .54rem;
}

.card_title_anchor:hover .card_title{
    color: rgb(13, 13, 200);
}

.card_title_description{
    color: rgb(118, 115, 115);
    font-size: 1rem;
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    align-items: flex-end;
}

.auther_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.auther_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(128, 123, 123);
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
}

.auther_info_container{
    display: flex;
    flex-direction: column;

}

.author_name{
    color: rgb(48, 48, 241);

}

.author_date{
    color: rgb(118, 115, 115);
}

.card_tag_container{
    font-size: 0.78rem;
    border: 1px solid hsl(0, 5%, 61%);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    line-height: 1.3rem;
    color: grey;  
}